// ПЕРЕЛЮЧАТЕЛЬ СЕТИ
.chains {
  position: relative;
  margin: auto 0 auto 0;
  grid-column: 5/7;
}

.chains__switcher {
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid $color-accent;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;
}

.chains__current-chain {
  width: calc(100% - 28px);
  padding: 0 6px 2px 6px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chains__indicator {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  transition: linear 0.2s;
}

.chains__indicator-arrow {
  position: relative;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-top: 3px solid $color-second;
  border-left: 3px solid $color-second;
  transform: rotate(225deg);

  &_up {
    top: 3px;
    transform: rotate(45deg);
  }
}

.app.dark-theme
.chains__indicator-arrow {
  border-top: 3px solid $dark-theme-second;
  border-left: 3px solid $dark-theme-second;
}



// ОВЕРЛЕЙ
.chains__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);

  &_hidden {
    display: none;
    visibility: none;
  }
}



// МОДАЛЬНОЕ ОКНО
.chains__popup-container {
  position: fixed;
  z-index: 20;
  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  width: 100%;
  max-width: calc(998px - 12px); // вычитаем ширину кастомного скроллбара
  display: flex;
  flex-direction: column;
  align-items: center;

  &_hidden {
    display: none;
  }
}

.chains__popup {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(100% - 12px - 12px); 
  padding: 24px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: $white;
}

.chains__popup-head {
  position: relative;
  width: 100%;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chains__popup-heading {
  font-weight: 600;
  font-size: 24px;
  color: $gray-darker;
}

.chains__close-button {
  position: relative;
  font-size: 36px;
  line-height: 1;
  color: $gray-darker;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;

  &:hover {
    color: $gray-darkest;
  }
}

.chains__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  border-radius: 6px;
}

.chains__chain {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 16px;
  display: flex;
  align-items: center;
  background-color: rgba($gray-light, 0.2);
  border-radius: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  text-decoration: none;
  cursor: pointer;
  transition: linear 0.2s;

  &_selected {
    background-color: rgba($gray-light, 0.4);
    border-left: 4px solid $color-yay;
    border-right: 4px solid $color-yay;
  }

  &:hover {
    background-color: rgba($gray-light, 0.4);
  }
}

.chains__chain-logo {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chains__chain-info {
  display: flex;
  flex-direction: column;
}

.chains__chain-name {
  width: 100%;
  margin: 0 0 2px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $gray-darkest;
}

.chains__chain-id {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $gray-darker;
}