.chains {
  position: relative;
  margin: auto 0 auto 0;
  grid-column: 7/9;
}

.chains__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);

  &_hidden {
    display: none;
    visibility: none;
  }
}

.chains__button {
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $color-accent;
  border-radius: 6px;
  background-color: $color-second;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;
}

.chains__current {
  width: calc(100% - 28px);
  padding: 0 6px 2px 6px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chains__switcher {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  transition: linear 0.2s;
}

.chains__switcher-arrow {
  position: relative;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-top: 3px solid $color-second;
  border-left: 3px solid $color-second;
  transform: rotate(225deg);

  &_up {
    top: 3px;
    transform: rotate(45deg);
  }
}

.chains__container {
  z-index: 20;
  position: fixed;
  top: 76px;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &_hidden {
    display: none;
  }
}

.chains__list {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 28px 60px 28px;
  background-color: $gray-lightest;
  border-radius: 6px;

  &_hidden {
    display: none;
  }
}

.chains__alignment {
  position: relative;
  width: 100%;
  margin: 0 0 12px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.chains__heading {
  font-weight: 600;
  font-size: 20px;
  color: $gray-darker;
}

.chains__close-button {
  font-weight: 400;
  font-size: 32px;
  color: $gray-darker;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.chains__grid {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 6px;
}

.chains__chain {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  background-color: rgba($white, 0.5);
  border-radius: 6px;
  text-decoration: none;

  cursor: pointer;
  transition: linear 0.2s;

  &_selected {
    background-color: $white;

    .chain__chain-mark {
      background-color: $color-accent;
    }
  }

  &:hover {
    background-color: $white;
  }
}

.chains__chain-logo {
  width: 28px;
  height: 28px;
  margin: 0 8px 0 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chains__chain-info {
  display: flex;
  flex-direction: column;
}

.chains__chain-name {
  margin: 0 0 2px 0;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $gray-darker;
}

.chains__chain-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $gray-dark;
}

.chain__chain-mark {
  width: 7px;
  height: 7px;
  margin: 0 0 auto 4px;
  border-radius: 50%;
  background-color: transparent;
}