.chain {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chain__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Миксуется с section-limiter, который ограничивает ширину секций
.chain__nav-container {
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chain__nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: $lt-intense;
  user-select: none;

  &_active {
    color: $color-accent;
    text-decoration: underline;
  }
}

.chain__nav-divider {
  height: 12px;
  margin: 0 36px 0 36px;
  border-left: 2px solid rgba($lt-intense, 0.7);
}

// Миксуется с section-limiter, который ограничивает ширину секций
.chain__container {
  position: relative;
  margin-top: calc(28px + 36px); // высота сабхердера + отступ от него
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



// NIGHT MODE



.app.dark-theme
.chain__nav-link {
  color: rgba($dt-accent, 0.75);

  &_active {
    color: $brand-color;
  }
}

.app.dark-theme
.chain__nav-divider {
  border-left: 2px solid rgba($dt-accent, 0.4);
}
