// ПЕРЕЛЮЧАТЕЛЬ СЕТИ
.chains {
  position: relative;
  margin: auto 0 auto 0;
  grid-column: 7/9;
}

.chains__switcher {
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $color-accent;
  border-radius: 6px;
  background-color: $color-second;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;
}

.chains__current-chain {
  width: calc(100% - 28px);
  padding: 0 6px 2px 6px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chains__indicator {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-accent;
  transition: linear 0.2s;
}

.chains__indicator-arrow {
  position: relative;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-top: 3px solid $color-second;
  border-left: 3px solid $color-second;
  transform: rotate(225deg);

  &_up {
    top: 3px;
    transform: rotate(45deg);
  }
}



// ОВЕРЛЕЙ
.chains__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);

  &_hidden {
    display: none;
    visibility: none;
  }
}



// МОДАЛЬНОЕ ОКНО
.chains__popup-container {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  box-sizing: border-box;
  width: 100%;
  max-width: calc(998px - 12px); // вычитаем ширину кастомного скроллбара
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_hidden {
    display: none;
  }
}

.chains__popup {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(100% - 12px - 12px); 
  padding: 24px 24px 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background-color: $gray-lightest;
}

.chains__popup-head {
  position: relative;
  width: 100%;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chains__popup-heading {
  font-weight: 600;
  font-size: 18px;
  color: $gray-darker;
}

.chains__close-button {
  position: relative;
  top: -4px;
  font-size: 28px;
  line-height: 1;
  color: $gray-darker;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;

  &:hover {
    color: $gray-darkest;
  }
}

.chains__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 6px;
}

.chains__chain {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 16px;
  display: flex;
  align-items: center;
  background-color: rgba($gray, 0.2);
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: linear 0.2s;

  &_selected {
    background-color: rgba($gray, 0.4);

    .chain__chain-mark {
      background-color: $color-accent;
      border: 1px solid $gray-light;
    }
  }

  &:hover {
    background-color: rgba($gray, 0.3);
  }
}

.chains__chain-logo {
  width: 28px;
  height: 28px;
  margin: 0 8px 0 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chains__chain-info {
  width: calc(100% - 28px - 8px);
  display: flex;
  flex-direction: column;
}

.chains__chain-name {
  width: 100%;
  margin: 0 0 2px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $gray-darkest;
}

.chains__chain-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $gray-darker;
}

.chain__chain-mark {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  margin: 0 0 auto 4px;
  border-radius: 50%;
  background-color: transparent;
}



// .chains__container {
//   z-index: 20;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -70%);
//   box-sizing: border-box;
//   width: 100%;
//   max-width: 940px;
//   padding: 0 12px 0 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   &_hidden {
//     display: none;
//   }
// }

// .chains__heading {
//   font-weight: 600;
//   font-size: 20px;
//   color: $gray-darker;
// }

// .chains__close-button {
//   position: fixed;
//   top: 0;
//   right: 0;
//   font-weight: 400;
//   font-size: 32px;
//   color: $gray-darker;
//   background-color: transparent;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }

// .chains__list {
//   box-sizing: border-box;
//   width: 100%;
//   padding: 12px 28px 60px 28px;
//   background-color: $gray-lightest;
//   border-radius: 6px;

//   &_hidden {
//     display: none;
//   }
// }

// .chains__alignment {
//   position: relative;
//   width: 100%;
//   margin: 0 0 12px 0;
//   display: flex;
//   align-items: baseline;
//   justify-content: space-between;
// }

// .chains__grid {
//   box-sizing: border-box;
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-column-gap: 10px;
//   grid-row-gap: 10px;
//   border-radius: 6px;
// }

// .chains__chain {
//   box-sizing: border-box;
//   width: 100%;
//   padding: 10px 20px 10px 20px;
//   display: flex;
//   align-items: center;
//   background-color: rgba($white, 0.5);
//   border-radius: 6px;
//   text-decoration: none;

//   cursor: pointer;
//   transition: linear 0.2s;

//   &_selected {
//     background-color: $white;

//     .chain__chain-mark {
//       background-color: $color-accent;
//     }
//   }

//   &:hover {
//     background-color: $white;
//   }
// }

// .chains__chain-logo {
//   width: 28px;
//   height: 28px;
//   margin: 0 8px 0 0;
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .chains__chain-info {
//   display: flex;
//   flex-direction: column;
// }

// .chains__chain-name {
//   margin: 0 0 2px 0;
//   display: flex;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 1;
//   color: $gray-darker;
// }

// .chains__chain-id {
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1;
//   color: $gray-dark;
// }

// .chain__chain-mark {
//   width: 7px;
//   height: 7px;
//   margin: 0 0 auto 4px;
//   border-radius: 50%;
//   background-color: transparent;
// }