/* Напоминалка: здесь не используются внутренние контейнеры для ограничения ширины, поскольку она уже задана в родительском компоненте Chain. */

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 12px;
}

/* Следующие две конструкции нужны для того, чтобы стандартная ячейка имела равное соотношение сторон, без использования aspect-ratio: 1/1 и padding-trick'а, ибо они имеют нюансы. Приём взят отсюда: https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3 */

.dashboard::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.dashboard > *:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.dashboard__plate {
  box-sizing: border-box;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $white;
}

#main-plate {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: rgba($color-second, 0.6);
}

#community-plate {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

#bonded-plate {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

#proposals-plate {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

#logo-plate {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

#inflation-plate {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

#unbonding-plate {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

#price-plate {
  grid-column: 5 / 7;
  grid-row: 3 / 5;
  background-color: rgba($color-second, 0.6);
}

#links-plate {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 20px 16px 20px 16px;
  background-color: transparent;
  border: 4px solid $white;
}

#validators-plate {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

#block-plate {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.dashboard__error {
  box-sizing: border-box;
  padding: 4px 8px 4px 8px;
  margin: auto 0 0 auto;
  width: max-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: end;
  color: $gray-light;
  background-color: rgba($gray-lightest, 0.8);
  border-radius: 4px;
}

.dashboard__heading {
  font-weight: 600;
  font-size: 28px;
  color: $white;
}

.dashboard__subheading {
  font-weight: 300;
  font-size: 16px;
  color: $color-main;
}

.dashboard__description {
  margin: auto 0 0 0;
  font-weight: 200;
  font-size: 16px;
  color: $white;
}

.dashboard__logo {
  width: 90%;
  height: 90%;
  margin: auto auto auto auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.dashboard__plate-heading {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: $gray-dark;
}

.dashboard__refresh-icon {
  width: 14px;
  height: 14px;
  margin: 2px 1px 0 5px;
  background-image: url("/public/images/refresh-static-gray.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard__plate-data {
  margin: auto 0 0 auto;
  font-weight: 600;
  font-size: 16px;
  color: $gray-darker;

  span {
    margin: 0 0 0 4px;
    font-weight: 400;
    font-size: 12px;
    color: $gray;
  }
}

.dashboard__links {
  margin: auto 0 0 0;
  display: flex;
  flex-direction: column;

  a {
    margin: 4px 0 0;
    font-weight: 400;
    font-size: 14px;
    color: $color-second;
    color: rgba($color-second, 0.8);
    // color: $gray-darkest;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: linear 0.2s;

    &:hover {
      color: rgba($color-second, 1);
    }
  }
}

.dashboard__coingecko-heading {
  font-weight: 400;
  font-size: 14px;
  color: $color-main;

  a {
    font-weight: 500;
    color: rgba($white, 0.8);
    // color: $color-accent;
    text-decoration: underline;
    transition: linear 0.2s;

    &:hover {
      color: $white;
    }
  }
}

.dashboard__coingecko-prices {
  margin: auto 0 0 0;
}

.dashboard__coingecko-price {
  padding: 0 0 2px 0;
  margin: 12px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-main;
}

.dashboard__coingecko-subheading {
  font-weight: 300;
  font-size: 14px;
  color: $color-main;
}

.dashboard__coingecko-value {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  color: $color-main;

  &_bright {
    color: $color-accent;
  }
}

.dashboard__coingecko-value_bright {
  font-weight: 500;
}

.dashboard__coingecko-dynamic {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-weight: 500;
  color: $color-yay;

  &_down {
    font-weight: 600;
    color: $color-nay;
  }
}