.footer {
  width: 100%;
  margin: auto 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lt-darkest;
}

// Миксуется с section-limiter, который ограничивает ширину секций
.footer__container {
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 991px) {
    min-height: 46px;
  }
}

.footer__info {
  font-weight: 200;
  font-size: 16px;
  line-height: 140%;
  color: $lt-light;

  @media (max-width: 991px) {
    font-size: 14px;
  }

  a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
      color: $lt-white;
    }
  }
}



// NIGHT MODE


.app.dark-theme
.footer {
  background-color: $dt-black;
}

.app.dark-theme
.footer__info {
  color: $dt-text-comfort;

  a {
    &:hover {
      color: $dt-text-light;
    }
  }
}