.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lt-intense;
}

// Миксуется с section-limiter, который ограничивает ширину секций
.header__container {
  min-height: 58px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;

  @media (max-width: 991px) {
    min-height: 52px;
    grid-gap: 10px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 575px) {
    min-height: 48px;
  }
}

.header__logo {
  margin: auto 0 auto 0;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
}

.header__logo-emoji {
  width: 40px;
  height: 40px;
  margin: 2px 4px 0 0;
  background-image: url("/public/images/emoji.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 991px) {
    width: 36px;
    height: 36px;
    margin: 2px 3px 0 0;
  }

  @media (max-width: 575px) {
    width: 32px;
    height: 32px;
    margin: 2px 3px 0 0;
  }
}

.header__logo-text {
  display: flex;
  flex-direction: column;
}

.header__logo-top {
  margin: 0 0 2px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: $lt-white;

  span {
    color: $brand-color;
    transition: linear 0.2s;
  }

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
  }
}

.header__logo-bottom {
  margin: 0 0 0 1px;
  font-weight: 200;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: $lt-lighter;
  text-transform: lowercase;

  @media (max-width: 991px) {
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.1px;
  }

  @media (max-width: 575px) {
    font-size: 10px;
    letter-spacing: 0;
  }
}



// NIGHT MODE



.app.dark-theme
.header {
  background-color: $dt-intense;
}

.app.dark-theme
.header__logo-top {
  color: $dt-text-light;
}

.app.dark-theme
.header__logo-bottom {
  color: $dt-text-comfort;
}