.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lt-background;
}

.layout__app-content {
  box-sizing: border-box;
  width: 100%;
  padding: 58px 0 52px 0; // верхний и нижний паддинги равны высоте шапки и подвала

  @media (max-width: 991px) {
    padding: 52px 0 46px 0;
  }
}



// NIGHT MODE



.app.dark-theme
.layout {
  background-color: $dt-background;
}
