.proposals {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposals__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.proposals__disclaimer {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px 8px 12px;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: $gray-darkest;
  background-color: rgba($color-second, 0.4);
  border-radius: 8px;

  span {
    font-weight: 600;
  }
}

.proposals__table {
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.proposals__table-header {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 5% 55% 15% 15% 10%;
  grid-column-gap: 0;
  background-color: rgba($color-second, 0.6);
  border-radius: 8px 8px 0 0;
}

.proposals__column-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: $color-main;
}

#column-id {
  align-items: flex-start;
}

#column-title {
  align-items: flex-start;
}

#column-type {
  align-items: flex-end;
}

#column-status {
  align-items: center;
}

#column-voting-end {
  align-items: flex-end;
}



.proposals__table-rows {
  display: flex;
  flex-direction: column;
}