.proposals {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposals__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.proposals__navigation {
  width: 100%;
  margin: 0 0 12px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
}

.proposals__switcher {
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  grid-column: 1/3;
  display: flex;
}

.proposals__switcher-button {
  width: 50%;
  height: 100%;
  border: none;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $color-main;
  background-color: rgba($color-second, 0.4);
  outline: none;
  cursor: pointer;

  &:first-child {
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
  }

  &_selected {
    color: $color-main;
    background-color: rgba($color-second, 0.6);
  }
}

.proposals__disclaimer {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px 8px 12px;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: $gray-darkest;
  background-color: rgba($color-second, 0.4);
  border-radius: 8px;


  span {
    font-weight: 600;
  }
}

.proposals__list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.proposals__no-content {
  box-sizing: border-box;
  width: 100%;
  padding: 36px 12px 36px 12px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: $gray-darker;
  background-color: $white;
  border-radius: 8px;
}