.proposal {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 30% 48px 24px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 8px;
}

.proposal__return-button {
  position: relative;
  width: max-content;
  margin: 0 0 24px 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: $color-second;
  cursor: pointer;
  transition: linear 0.2s;

  span {
    position: relative;
    bottom: 1px;
    margin: 0 4px 0 0;
    font-weight: 700;
    font-size: 18px;

  }

  &:hover {
    color: $gray-darker;
  }
}

.proposal__card {
  box-sizing: border-box;
  width: 100%;
}