/* Напоминалка: здесь не используются внутренние контейнеры для ограничения ширины, поскольку она уже задана в родительском компоненте Chain. */

.proposals {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposals__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.proposals__disclaimer {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px 8px 12px;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: $gray-darkest;
  background-color: rgba($color-second, 0.4);
  border-radius: 6px;

  span {
    font-weight: 700;
  }
}

.proposals__table {
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.proposals__table-header {
  box-sizing: border-box;
  width: 100%;
  min-height: 44px;
  padding: 4px 24px 4px 12px;
  display: grid;
  grid-template-columns: 32px 4fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  background-color: rgba($color-second, 0.6);
  border-radius: 6px 6px 0 0;
}

.proposals__column-name {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: $color-main;
}

#column-id {
  align-items: flex-start;
}

#column-title {
  align-items: flex-start;
}

#column-type {
  align-items: center;
}

#column-status {
  align-items: center;
}

#column-voting-end {
  align-items: flex-end;
}

.proposals__table-rows {
  display: flex;
  flex-direction: column;
}

.proposals__scroll-buttons {
  position: fixed;
  bottom: 104px;
  right: calc(((100% - 998px) / 2) - 36px);
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_hidden {
    display: none;
  }
}

.proposals__scroll-button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba($color-second, 0.5);
  transition: linear 0.2s;
  cursor: pointer;

  &_top {
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid $color-main;
  }

  &_bottom {
    border-radius: 0 0 6px 6px;
  }

  &:hover {
    background-color: rgba($color-second, 0.6);
  }
}

.proposals__scroll-arrow {
  position: relative;
  width: 6px;
  height: 6px;
  border-top: 3px solid $color-main;
  border-left: 3px solid $color-main;
  transform: rotate(45deg);

  &_top {
    top: 2px;
    transform: rotate(45deg);
  }

  &_bottom {
    top: -2px;
    transform: rotate(225deg);
  }
}