.validator {
  position: fixed;
  top: 0;
  z-index: 5;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.validator__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color-main, 0.6);
  backdrop-filter: blur(1px);
}

.validator__card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 16px;
}
  
.validator__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0 12px 0 auto;
  font-size: 36px;
  line-height: 1;
  color: $gray-darker;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: linear 0.2s;

  &:hover {
    color: $gray-darkest;
  }
}

.validator__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 74px calc(100% - 74px - 30px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.validator__avatar {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  margin: 2px 0 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.validator__main-info {
  display: flex;
}

.validator__rank {
  margin: 0 6px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $gray-dark;
}

.validator__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.validator__moniker {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  color: $gray-darker;
}

.validator__valoper {
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $gray-darker;
}

.validator__statuses {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.validator__status {
  box-sizing: border-box;
  padding: 3px 6px 3px 6px;
  margin: 0 4px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;

  &_good {
    color: rgba($color-second, 0.7);
    background-color: rgba($color-main, 0.5);
  }

  &_neutral {
    color: rgba($gray-dark, 0.8);
    background-color: rgba($gray, 0.2);
  }

  &_bad {
    color: rgba($color-nay, 0.6);
    background-color: rgba($color-nay, 0.1);
  }

  &_special {
    color: rgba($gray-darkest, 0.6);
    background-color: rgba($color-accent, 0.3);
  }

  &_hidden {
    display: none;
  } 
}

.validator__data {
  width: 100%;
  display: grid;
  grid-template-columns: 140px calc(100% - 140px - 24px);
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  border-radius: 6px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.validator__data-heading {
  font-weight: 600;
  font-size: 16px;
  color: $gray-darker;
}

.validator__data-text {
  padding: 0 40px 0 0;
  font-weight: 400;
  font-size: 16px;
  color: $gray-darker;
  word-wrap: break-word;
}

.validator__denom {
  margin: 0 0 0 4px;
  font-weight: 400;
  font-size: 12px;
  color: $gray-darker;
}

.validator__commission-value {
  font-weight: 400;
  font-size: 16px;
  color: $gray-darker;

  &_high {
    color: $color-nay;
  }
}

.validator__data-link {
  font-weight: 400;
  font-size: 16px;
  color: $color-second;
  transition: linear 0.2s;

  &:hover {
    color: $gray-darker;
  }
}