.validators {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.validators__navigation {
  width: 100%;
  margin: 0 0 12px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
}

.validators__switcher {
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  grid-column: 1/3;
  display: flex;
}

.validators__switcher-button {
  width: 50%;
  height: 100%;
  border: none;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $color-main;
  background-color: rgba($color-second, 0.4);
  outline: none;
  cursor: pointer;

  &:first-child {
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
  }

  &_selected {
    color: $color-main;
    background-color: rgba($color-second, 0.6);
  }
}

.validators__search {
  width: 100%;
  grid-column: 5/9;
  display: flex;
}

.validators__search-input {
  box-sizing: border-box;
  width: 75%;
  min-height: 32px;
  padding: 0 12px 0 12px;
  border: 2px solid rgba($color-second, 0.6);
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  background-color: $white;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $gray-darker;
  text-align: center;

  &::placeholder {
    font-weight: 300;
    color: $gray-light;
  }
}

.validators__search-button {
  box-sizing: border-box;
  width: 25%;
  min-height: 32px;
  border: none;
  border-radius: 0 8px 8px 0;
  outline: none;
  background-color: rgba($color-second, 0.6);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $white;
  cursor: pointer;
}

.validators__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__table-rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__scroll-buttons {
  position: fixed;
  bottom: 104px;
  right: calc(((100% - 998px) / 2) - 40px);
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_hidden {
    display: none;
  }
}

.validators__scroll-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba($color-second, 0.5);
  transition: linear 0.2s;
  cursor: pointer;

  &_top {
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid $color-main;
  }

  &_bottom {
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    background-color: rgba($color-second, 0.6);
  }
}

.validators__scroll-arrow {
  position: relative;
  width: 8px;
  height: 8px;
  border-top: 3px solid $color-main;
  border-left: 3px solid $color-main;
  transform: rotate(45deg);

  &_top {
    top: 2px;
    transform: rotate(45deg);
  }

  &_bottom {
    top: -2px;
    transform: rotate(225deg);
  }
}