/* Напоминалка: здесь не используются внутренние контейнеры для ограничения ширины, поскольку она уже задана в родительском компоненте Chain. */

.validators {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_hidden {
    display: none;
  }
}

.validators__navigation {
  width: 100%;
  margin: 0 0 6px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 991px) {
    margin: 0 0 4px 0;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.validators__switcher {
  box-sizing: border-box;
  width: 28%;
  display: flex;

  @media (max-width: 767px) {
    width: 100%;
    grid-column: 1/3;
  }
}

.validators__switcher-button {
  width: 50%;
  min-height: 38px;
  border: none;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: $lt-background;
  background-color: rgba($lt-intense, 0.5);
  outline: none;
  cursor: pointer;

  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
  }

  &_selected {
    color: $lt-white;
    background-color: rgba($lt-intense, 0.7);
  }

  @media (max-width: 991px) {
    min-height: 32px;
    font-size: 14px;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
  
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
  }
}

.validators__search {
  width: 40%;
  display: flex;

  @media (max-width: 767px) {
    width: 100%;
    grid-column: 3/5;
  }
}

.validators__search-input {
  box-sizing: border-box;
  width: 65%;
  min-height: 38px;
  padding: 0 12px 0 12px;
  border: 3px solid rgba($lt-intense, 0.77);
  border-right: none;
  border-radius: 12px 0 0 12px;
  outline: none;
  background-color: $lt-white;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $lt-darkest;

  &::placeholder {
    font-weight: 300;
    color: $lt-light;
    text-align: center;
  }

  @media (max-width: 991px) {
    width: 70%;
    min-height: 32px;
    padding: 0 8px 0 8px;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
  }
}

.validators__clear-button {
  box-sizing: border-box;
  width: 35%;
  min-height: 38px;
  border: none;
  border-radius: 0 12px 12px 0;
  outline: none;
  background-color: rgba($lt-intense, 0.7);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: $lt-white;
  cursor: pointer;

  @media (max-width: 991px) {
    width: 30%;
    min-height: 32px;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
  }
}

.validators__table {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__table-rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validators__scroll-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_hidden {
    display: none;
  }

  @media (max-width: 991px) {
    display: none;
  }
}

body.noScroll
.validators__scroll-buttons {
  right: 12px;
}

.validators__scroll-button {
  width: 300px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba($lt-intense, 0.5);
  cursor: pointer;

  &_top {
    border-radius: 28px 0 0 0;
    margin: 0 0 4px 0;
  }

  &_bottom {
    border-radius: 0 0 0 0;
  }

  &:hover {
    background-color: rgba($lt-intense, 0.6);
  }

  @media (max-width: 1400px) {
    width: 200px;
    height: 60px;
  }

  @media (max-width: 1200px) {
    width: 160px;
    height: 40px;

    &_top {
      border-radius: 16px 0 0 0;
    }
  }
}

.validators__scroll-arrow {
  position: relative;
  width: 8px;
  height: 8px;
  border-top: 4px solid $lt-background;
  border-left: 4px solid $lt-background;
  transform: rotate(45deg);

  &_top {
    top: 2px;
    transform: rotate(45deg);
  }

  &_bottom {
    top: -2px;
    transform: rotate(225deg);
  }
}

.validators__placeholder {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  padding: 8px 40px 8px 40px;
  margin: 6px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 8px 8px;
  background-color: $lt-white;
}

.validators__placeholder-text-top {
  margin: 0 0 8px 0;
  font-size: 24px;
  font-weight: 400;
  color: $lt-darker;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 20px;
  }

  span {
    font-weight: 600;
  }
}

.validators__placeholder-text-bottom {
  max-width: 70%;
  font-size: 16px;
  font-weight: 400;
  color: $lt-darker;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 14px;
  }

  span {
    font-weight: 600;
  }
}



// NIGHT MODE



.app.dark-theme
.validators__switcher-button {
  color: $dt-text-dark;
  background-color: rgba($dt-light, 0.5);

  &_selected {
    color: $dt-text-comfort;
    background-color: $dt-light;
  }
}

.app.dark-theme
.validators__search-input {
  border: 3px solid $dt-light;
  background-color: transparent;
  color: $dt-text-comfort;

  &::placeholder {
    color: $dt-text-comfort;
  }
}

.app.dark-theme
.validators__clear-button {
  background-color: $dt-light;
  color: $dt-text-comfort;
}

.app.dark-theme
.validators__scroll-button {
  background-color: rgba($dt-light, 0.8);

  &:hover {
    background-color: rgba($dt-light, 1);
  }
}

.app.dark-theme
.validators__scroll-arrow {
  border-top: 4px solid $dt-background;
  border-left: 4px solid $dt-background;
}

.app.dark-theme
.validators__placeholder {
  background-color: $dt-pale;
}

.app.dark-theme
.validators__placeholder-text-top {
  color: $dt-text-comfort;
}

.app.dark-theme
.validators__placeholder-text-bottom {
  font-weight: 300;
  color: $dt-text-comfort;
}