.validators-th {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 8px 40px 8px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 8px;
  background-color: rgba($lt-intense, 0.7);
  border-radius: 12px 12px 8px 8px;
}

.validators-th__cell {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

#th-validator {
  margin: 0 0 0 56px;
  justify-content: start;
}

#th-power {
  justify-content: end;
}

#th-commission {
  justify-content: end;
}

.validators-th__sort-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#srt-validator {
  margin: 0 0 0 0;
}

.validators-th__sort-icon {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 0 0 0 6px;
  display: flex;
  flex-direction: column;
    
  span {
    position: absolute;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);

    &:first-child {
      top: -1px;
      border-left: 2px solid $lt-background;
      border-top: 2px solid $lt-background;
    }

    &:last-child {
      bottom: -1px;
      border-right: 2px solid $lt-background;
      border-bottom: 2px solid $lt-background;
    }
  }

  &_asc {
    span {
      &:first-child {
        border-left: 2px solid $lt-background;
        border-top: 2px solid $lt-background;
      }
      &:last-child {
        border-right: 2px solid $lt-white;
        border-bottom: 2px solid $lt-white;
      }
    }
  }

  &_dsc {
    span {
      &:first-child {
        border-left: 2px solid $lt-white;
        border-top: 2px solid $lt-white;
      }
      &:last-child {
        border-right: 2px solid $lt-background;
        border-bottom: 2px solid $lt-background;
      }
    }
  }
}

.validators-th__column-name {
  font-weight: 600;
  font-size: 16px;
  color: $lt-background
}



// NIGHT MODE



.app.dark-theme
.validators-th {
  background-color: $dt-light;
}

.app.dark-theme
.validators-th__sort-icon {
  span {
    &:first-child {
      border-left: 2px solid $dt-text-dark;
      border-top: 2px solid $dt-text-dark;
    }

    &:last-child {
      border-right: 2px solid $dt-text-dark;
      border-bottom: 2px solid $dt-text-dark;
    }
  }

  &_asc {
    span {
      &:first-child {
        border-left: 2px solid $dt-text-dark;
        border-top: 2px solid $dt-text-dark;
      }
      &:last-child {
        border-right: 2px solid $dt-text-light;
        border-bottom: 2px solid $dt-text-light;
      }
    }
  }

  &_dsc {
    span {
      &:first-child {
        border-left: 2px solid $dt-text-light;
        border-top: 2px solid $dt-text-light;
      }
      &:last-child {
        border-right: 2px solid $dt-text-dark;
        border-bottom: 2px solid $dt-text-dark;
      }
    }
  }
}

.app.dark-theme
.validators-th__column-name {
  color: $dt-text-comfort;
}