/* НАПОМИНАНИЕ: при смене темы элементы НЕ ВСЕГДА меняют цвета строго по постфиксу (lt-intense на dt-intense, lt-pale на dt-pale, и т.д.) - вместо этого, все стили подбирались индивидуально по ситуации, поэтому в светлой теме один и тот же элемент может, например, иметь цвет lt-background, а в тёмной - dt-light. Так что, на постфиксы сильно не ориентируйся - они НЕ аналогичны. */ 

$brand-color:       #ffc83d;

$lt-intense:        #0d6573;
$lt-background:     #add8e6;
$lt-good:           #00e696;
$lt-bad:            #e60032;
$lt-whitest:        #ffffff;
$lt-white:          #fafafa;
$lt-lightest:       #dcdcdc;
$lt-lighter:        #bebebe;
$lt-light:          #a0a0a0;
$lt-middle:         #828282;
$lt-dark:           #646464;
$lt-darker:         #464646;
$lt-darkest:        #282828;
$lt-black:          #0f0f0f;

$dt-intense:        #1D2F5B;
$dt-light:          #1E3359;
$dt-pale:           #152437;
$dt-background:     #0E131E;
$dt-black:          #0f0f0f;
$dt-accent:         #c5c971;
$dt-text-light:     #fafafa;
$dt-text-comfort:   #bebebe;
$dt-text-dark:      #828282;
$dt-good:           #71c97d;
$dt-bad:            #c97180;