// ПЕРЕМЕННЫЕ

$whitest:           #ffffff; // максимально белый, если потребуется
$white:             #fafafa; // "рабочий" белый, более приятный глазу
$gray-lightest:     #dcdcdc;
$gray-lighter:      #bebebe;
$gray-light:        #a0a0a0;
$gray:              #828282;
$gray-dark:         #646464;
$gray-darker:       #464646;
$gray-darkest:      #282828;
$black:             #0f0f0f; // "рабочий" чёрный, более приятный глазу
$blackest:          #000000; // максимально чёрный, если потребуется

$color-main:        #add8e6;
$color-second:      #0d6573;
$color-accent:      #ffc83d;
$color-yay:         #00e696;
$color-nay:         #e60032;

$brand-color:       #ffc83d;

$lt-intense:        #0d6573;
$lt-pale:           #3D8E99;
$lt-background:     #add8e6;

// $dt-intense:        #0d3328;
// $dt-light:          #1E332B;
// $dt-pale:           #152420;
// $dt-background:     #111c19;
// $dt-black:          #0f0f0f;
// $dt-accent:         #c5c971;
// $dt-text-light:     #fafafa;
// $dt-text-comfort:   #bebebe;
// $dt-text-dark:      #828282;
// $dt-good:           #71c97d;
// $dt-bad:            #c97180;

$dt-intense:        #1D2F5B;
$dt-light:          #1E3359;
$dt-pale:           #152437;
$dt-background:     #0E131E;
$dt-black:          #0f0f0f;
$dt-accent:         #c5c971;
$dt-text-light:     #fafafa;
$dt-text-comfort:   #bebebe;
$dt-text-dark:      #828282;
$dt-good:           #71c97d;
$dt-bad:            #c97180;