@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #282828;
  overflow-y: scroll;
}

.app {
  width: 100%;
}

.app__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcdcdc;
}

.app__main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 52px 0 0 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
}

.header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  height: 52px;
  padding: 0 12px 0 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 8px;
}

.header__logo {
  margin: auto 0 auto 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__logo-top {
  margin: 0 0 3px 0;
  font-weight: 900;
  font-size: 22px;
  line-height: 100%;
  color: #fafafa;
}

.header__logo-top span {
  color: #e8c413;
}

.header__logo-bottom {
  margin: 0 0 0 1px;
  font-weight: 200;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #bebebe;
  text-transform: lowercase;
}

.chains {
  position: relative;
  margin: auto 0 auto 0;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
}

.chains__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.5);
}

.chains__overlay_hidden {
  display: none;
  visibility: none;
}

.chains__button {
  position: relative;
  z-index: 20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #e8c413;
  border-radius: 4px;
  background-color: #464646;
  outline: none;
  cursor: pointer;
}

.chains__current {
  width: calc(100% - 28px);
  padding: 0 6px 2px 6px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chains__switcher {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8c413;
}

.chains__switcher-arrow {
  position: relative;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #464646;
  border-left: 3px solid #464646;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.chains__switcher-arrow_up {
  top: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.chains__container {
  z-index: 20;
  position: fixed;
  top: 86px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chains__container_hidden {
  display: none;
}

.chains__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 28px 40px 28px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

.chains__list_hidden {
  display: none;
}

.chains__alignment {
  position: relative;
  width: 100%;
  margin: 0 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chains__heading {
  font-weight: 600;
  font-size: 20px;
  color: #464646;
}

.chains__close-button {
  font-weight: 400;
  font-size: 32px;
  color: #464646;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.chains__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.chains__chain {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 16px 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.chains__chain_selected {
  background-color: rgba(232, 196, 19, 0.7);
}

.chains__chain:hover {
  background-color: #fafafa;
}

.chains__chain-logo {
  width: 28px;
  height: 28px;
  margin: 0 8px 0 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chains__chain-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chains__chain-name {
  margin: 0 0 2px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #464646;
}

.chains__chain-id {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #646464;
}

.footer {
  width: 100%;
  height: 52px;
  margin: auto 0 0 0;
  background-color: #464646;
}

.homepage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__heading {
  margin: 200px 0 0 0;
}

.chain {
  width: 100%;
}

.chain__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 250, 250, 0.5);
}

.chain__nav-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  height: 24px;
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chain__nav-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
}

.chain__nav-link_active {
  text-decoration: underline;
}

.chain__nav-divider {
  height: 12px;
  margin: 0 30px 0 30px;
  border-left: 1px solid #646464;
}

.chain__content {
  width: 100%;
  padding: 12px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chain-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chain-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chain-heading__logo {
  margin: 0 12px 0 0;
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chain-heading__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chain-heading__heading {
  margin: 0 0 2px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #464646;
}

.chain-heading__subheading {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #464646;
}

.dashboard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__el {
  margin: 0 0 12px 0;
}

.dashboard__plate-error {
  font-weight: 600;
  color: brown;
}

.dashboard__plate-data {
  font-weight: 600;
}

.dashboard__plate-tokens {
  font-weight: 600;
}

.dashboard__plate-tokens span {
  margin: 0 0 0 4px;
  font-size: 12px;
}

.dashboard__plate-link {
  font-weight: 600;
  color: blue;
}

.validators {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators__navigation {
  width: 100%;
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.validators__switcher {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

.validators__switcher-button {
  width: 50%;
  background-color: lightgrey;
  border: none;
  cursor: pointer;
}

.validators__switcher-button_selected {
  background-color: white;
}

.validators__search {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.validators__search-input {
  width: 75%;
  outline: none;
}

.validators__search-button {
  width: 25%;
}

.validators__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators__table-rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators-th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  background-color: #464646;
}

.validators-th__cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#th-validator {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#th-power {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#th-commission {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.validators-th__sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#srt-validator {
  margin: 0 0 0 32px;
}

#srt-power {
  margin: 0 34px 0 0px;
}

#srt-commission {
  margin: 0 32px 0 0;
}

.validators-th__sort-icon {
  position: relative;
  width: 8px;
  height: 8px;
  margin: 0 6px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.validators-th__sort-icon span {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.validators-th__sort-icon span:first-child {
  top: -1px;
  border-left: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
}

.validators-th__sort-icon span:last-child {
  bottom: -1px;
  border-right: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
}

.validators-th__sort-icon_asc span:first-child {
  border-left: 2px solid red;
  border-top: 2px solid red;
}

.validators-th__sort-icon_asc span:last-child {
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}

.validators-th__sort-icon_dsc span:first-child {
  border-left: 2px solid blue;
  border-top: 2px solid blue;
}

.validators-th__sort-icon_dsc span:last-child {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

.validators-th__column-name {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.validators-tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  padding: 6px 24px 6px 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr 2fr;
      grid-template-columns: 4fr 2fr 2fr;
  background-color: white;
}

.validators-tr:not(:last-child) {
  border-bottom: 1px solid #bebebe;
}

.validators-tr__validator {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators-tr__avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.validators-tr__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.validators-tr__moniker {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 14px;
  color: #0d6573;
  text-decoration: none;
}

.validators-tr__statuses {
  margin: 0 0 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators-tr__status {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 4px 2px 4px;
  margin: 0 4px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
}

.validators-tr__status_good {
  color: rgba(13, 101, 115, 0.8);
  background-color: rgba(13, 101, 115, 0.1);
}

.validators-tr__status_neutral {
  color: rgba(100, 100, 100, 0.8);
  background-color: rgba(100, 100, 100, 0.1);
}

.validators-tr__status_bad {
  color: rgba(163, 64, 97, 0.8);
  background-color: rgba(163, 64, 97, 0.1);
}

.validators-tr__status_special {
  color: rgba(128, 128, 0, 0.8);
  background-color: rgba(232, 196, 19, 0.15);
}

.validators-tr__status_hidden {
  display: none;
}

.validators-tr__voting-power {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.validators-tr__stake {
  font-weight: 500;
  font-size: 14px;
  color: #646464;
}

.validators-tr__symbol {
  margin: 0 0 0 2px;
  font-weight: 500;
  font-size: 12px;
  color: #a0a0a0;
}

.validators-tr__power {
  font-weight: 600;
  font-size: 14px;
  color: #646464;
}

.validators-tr__commission {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.validators-tr__commission-value {
  font-weight: 600;
  font-size: 14px;
  color: #646464;
}

.validators-tr__commission-value_high {
  color: #a34061;
}

.proposals {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 998px;
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
