@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #282828;
  overflow-y: scroll;
}

.app {
  width: 100%;
}

.app__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcdcdc;
}

.app__main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 52px 0 0 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
}

.header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 52px;
  padding: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__logo-top {
  margin: 0 0 3px 0;
  font-weight: 900;
  font-size: 22px;
  line-height: 100%;
  color: #fafafa;
}

.header__logo-top span {
  color: #e8c413;
}

.header__logo-bottom {
  margin: 0 0 0 1px;
  font-weight: 200;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #bebebe;
  text-transform: lowercase;
}

.chains {
  position: relative;
}

.chains__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.5);
}

.chains__overlay_hidden {
  display: none;
  visibility: none;
}

.chains__button {
  position: relative;
  z-index: 20;
  min-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #e8c413;
  border-radius: 4px;
  background-color: #464646;
  cursor: pointer;
}

.chains__current {
  width: calc(100% - 26px);
  padding: 0 6px 2px 6px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chains__switcher {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8c413;
}

.chains__switcher-arrow {
  position: relative;
  top: -2px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #464646;
  border-left: 3px solid #464646;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.chains__switcher-arrow_up {
  top: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.chains__list {
  z-index: 20;
  position: fixed;
  top: 86px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  max-width: calc(1200px - 24px - 24px);
  padding: 26px 26px 26px 26px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-radius: 6px;
  background-color: #dcdcdc;
}

.chains__list_hidden {
  display: none;
}

.chains__chain {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: #464646;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.chains__chain_selected {
  background-color: rgba(232, 196, 19, 0.7);
}

.chains__chain:hover {
  background-color: #fafafa;
}

.chains__chain span {
  margin: 2px 0 0 2px;
  font-size: 12px;
  font-weight: 400;
  color: #828282;
}

.footer {
  width: 100%;
  height: 52px;
  margin: auto 0 0 0;
  background-color: #464646;
}

.homepage {
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__heading {
  margin: 200px 0 0 0;
}

.chain {
  width: 100%;
}

.chain__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 250, 250, 0.5);
}

.chain__nav-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 24px;
  padding: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chain__nav-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
}

.chain__nav-link_active {
  text-decoration: underline;
}

.chain__nav-divider {
  height: 12px;
  margin: 0 30px 0 30px;
  border-left: 1px solid #646464;
}

.chain__content {
  width: 100%;
  padding: 12px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard {
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard__el {
  margin: 0 0 12px 0;
}

.dashboard__plate-error {
  font-weight: 600;
  color: brown;
}

.dashboard__plate-data {
  font-weight: 600;
}

.dashboard__plate-tokens {
  font-weight: 600;
}

.dashboard__plate-tokens span {
  margin: 0 0 0 4px;
  font-size: 12px;
}

.dashboard__plate-link {
  font-weight: 600;
  color: blue;
}

.validators {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators__container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validators__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.validators__navigation {
  width: 100%;
}

.validators__table {
  width: 100%;
}
